## CareerFoundry Task 4.7

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/andrenedvidek/Desktop/Data Analaysis/CareerFoundry /Data Emersion /Task 4.3/02 Data copy/Prepared Data'

In [3]:
ords_prods_merge=pd.read_pickle(os.path.join(path,'merged_products_and_orders_products_combined.pkl'))

## Task 1

In [4]:
df = ords_prods_merge[:1000000]

In [5]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,_merge,indicator_column_name,Last Name,Gender,state,Age,date_joined,nr_dependants,family status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998.0,138.0,prior,28.0,6.0,...,both,both,Cox,Male,Minnesota,81.0,8/1/2019,1.0,married,49620.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647.0,138.0,prior,30.0,6.0,...,both,both,Cox,Male,Minnesota,81.0,8/1/2019,1.0,married,49620.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851.0,709.0,prior,2.0,0.0,...,both,both,Glass,Female,Vermont,66.0,6/16/2018,2.0,married,158302.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770.0,764.0,prior,1.0,3.0,...,both,both,Myers,Female,Wisconsin,40.0,2/9/2020,3.0,married,31308.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452.0,764.0,prior,3.0,4.0,...,both,both,Myers,Female,Wisconsin,40.0,2/9/2020,3.0,married,31308.0

In [6]:
# Defining the function price_lable

def price_label(row):
    if row ['prices'] <=5:
        return 'Low Rang Product'
    elif (row ['prices'] >5) and (row ['prices'] <=15):
        return 'Medium Rang Product'
    elif row ['prices'] >15:
        return 'High Rang Product'
    else: return np.nan

In [7]:
#applying the function 

df['price_range'] = df.apply(price_label, axis=1)

/var/folders/sb/vky803ms4yqcv95cvw9hmntr0000gn/T/ipykernel_16503/3409996034.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts(dropna = False)

price_range
Medium Rang Product    652638
Low Rang Product       338018
High Rang Product        9344
Name: count, dtype: int64

In [9]:
# looking for the highest price  
df['prices'].max()

24.5

In [10]:
# using loc() instead of if-statments 
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/sb/vky803ms4yqcv95cvw9hmntr0000gn/T/ipykernel_16503/706154935.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: count, dtype: int64

In [14]:
## applying loc function to entire datafram

In [15]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [16]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
ords_prods_merge.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [19]:
# find out which days are the bussiest 
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0.0    6204182
1.0    5660230
6.0    4496490
2.0    4213830
5.0    4205791
3.0    3840534
4.0    3783802
NaN         11
Name: count, dtype: int64

In [20]:
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [21]:
ords_prods_merge['busiest_day']=result

In [22]:
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416886
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

## Task 2

In [23]:
ords_prods_merge
# geting an overview

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,...,Last Name,Gender,state,Age,date_joined,nr_dependants,family status,income,price_range_loc,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998.0,138.0,prior,28.0,6.0,...,Cox,Male,Minnesota,81.0,8/1/2019,1.0,married,49620.0,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647.0,138.0,prior,30.0,6.0,...,Cox,Male,Minnesota,81.0,8/1/2019,1.0,married,49620.0,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851.0,709.0,prior,2.0,0.0,...,Glass,Female,Vermont,66.0,6/16/2018,2.0,married,158302.0,Mid-range product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770.0,764.0,prior,1.0,3.0,...,Myers,Female,Wisconsin,40.0,2/9/2020,3.0,married,31308.0,Mid-range product,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452.0,764.0,prior,3.0,4.0,...,Myers,Female,Wisconsin,40.0,2/9/2020,3.0,married,31308.0,Mid-range product,Least busy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404865,49688,Fresh Foaming Cleanser,73,11,13.5,1788356.0,200215.0,prior,2.0,0.0,...,Ward,Female,Rhode Island,47.0,9/13/2017,1.0,married,166687.0,Mid-range product,Busiest day
32404866,49688,Fresh Foaming Cleanser,73,11,13.5,3401313.0,200377.0,prior,1.0,4.0,...,Hancock,Male,West Virginia,25.0,3/16/2020,0.0,single,53936.0,Mid-range product,Least busy
32404867,49688,Fresh Foaming Cleanser,73,11,13.5,809510.0,200873.0,prior,5.0,3.0,...,Wilcox,Female,Michigan,57.0,3/21/2018,1.0,married,100649.0,Mid-range product,Regularly busy
32404868,49688,Fresh Foaming Cleanser,73,11,13.5,2359893.0,200873.0,prior,9.0,3.0,...,Wilcox,Female,Michigan,57.0,3/21/2018,1.0,married,100649.0,Mid-range product,Regularly busy
32404869,49688,Fresh Foaming Cleanser,73,11,13.5,2385091.0,205926.0,prior,11.0,1.0,...,Anderson,Female,Pennsylvania,34.0,2/25/2017,2.0,married,56331.0,Mid-range product,Regularly busy

In [24]:
# defining the function for the new column that will replace busiest_day
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  elif value == 3 or value == 4:
    result.append("Least busy days")
  else:
    result.append("Regularly busy")

In [25]:
ords_prods_merge['busiest_days']=result

In [26]:
ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy     12916122
Busiest days       11864412
Least busy days     7624336
Name: count, dtype: int64

## Task 3

In [27]:
# Is checked the numbers with a caculator and they match the orders_day_of_week when added

In [28]:
# now I need to drop the previous column, 'busiest day'
ords_prods_merge.drop(columns=['busiest_day'], inplace=True)

In [29]:
ords_prods_merge

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,...,Last Name,Gender,state,Age,date_joined,nr_dependants,family status,income,price_range_loc,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998.0,138.0,prior,28.0,6.0,...,Cox,Male,Minnesota,81.0,8/1/2019,1.0,married,49620.0,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647.0,138.0,prior,30.0,6.0,...,Cox,Male,Minnesota,81.0,8/1/2019,1.0,married,49620.0,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851.0,709.0,prior,2.0,0.0,...,Glass,Female,Vermont,66.0,6/16/2018,2.0,married,158302.0,Mid-range product,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770.0,764.0,prior,1.0,3.0,...,Myers,Female,Wisconsin,40.0,2/9/2020,3.0,married,31308.0,Mid-range product,Least busy days
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452.0,764.0,prior,3.0,4.0,...,Myers,Female,Wisconsin,40.0,2/9/2020,3.0,married,31308.0,Mid-range product,Least busy days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404865,49688,Fresh Foaming Cleanser,73,11,13.5,1788356.0,200215.0,prior,2.0,0.0,...,Ward,Female,Rhode Island,47.0,9/13/2017,1.0,married,166687.0,Mid-range product,Busiest days
32404866,49688,Fresh Foaming Cleanser,73,11,13.5,3401313.0,200377.0,prior,1.0,4.0,...,Hancock,Male,West Virginia,25.0,3/16/2020,0.0,single,53936.0,Mid-range product,Least busy days
32404867,49688,Fresh Foaming Cleanser,73,11,13.5,809510.0,200873.0,prior,5.0,3.0,...,Wilcox,Female,Michigan,57.0,3/21/2018,1.0,married,100649.0,Mid-range product,Least busy days
32404868,49688,Fresh Foaming Cleanser,73,11,13.5,2359893.0,200873.0,prior,9.0,3.0,...,Wilcox,Female,Michigan,57.0,3/21/2018,1.0,married,100649.0,Mid-range product,Least busy days
32404869,49688,Fresh Foaming Cleanser,73,11,13.5,2385091.0,205926.0,prior,11.0,1.0,...,Anderson,Female,Pennsylvania,34.0,2/25/2017,2.0,married,56331.0,Mid-range product,Busiest days

## Task 4

In [30]:
# get an overview 
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10.0    2761760
11.0    2736140
14.0    2689136
15.0    2662144
13.0    2660954
12.0    2618532
16.0    2535202
9.0     2454203
17.0    2087654
8.0     1718118
18.0    1636502
19.0    1258305
20.0     976156
7.0      891054
21.0     795637
22.0     634225
23.0     402316
6.0      290493
0.0      218769
1.0      115700
5.0       87961
2.0       69375
4.0       53242
3.0       51281
NaN          11
Name: count, dtype: int64

In [31]:
# using loc() for task 4
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin([9,10,11,12,13,14,15]), 'order_hour_of_day_loc'] = 'busiest period of day'

In [32]:
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin([7,8,17,18,19,20,21,22]), 'order_hour_of_day_loc'] = 'medium busy period of day'

In [33]:
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin([23,0,1,2,3,4,5,6]), 'order_hour_of_day_loc'] = 'not busy period of day'

## Task 5

In [34]:
ords_prods_merge

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,orders_day_of_week,...,Gender,state,Age,date_joined,nr_dependants,family status,income,price_range_loc,busiest_days,order_hour_of_day_loc
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998.0,138.0,prior,28.0,6.0,...,Male,Minnesota,81.0,8/1/2019,1.0,married,49620.0,Mid-range product,Regularly busy,busiest period of day
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647.0,138.0,prior,30.0,6.0,...,Male,Minnesota,81.0,8/1/2019,1.0,married,49620.0,Mid-range product,Regularly busy,medium busy period of day
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851.0,709.0,prior,2.0,0.0,...,Female,Vermont,66.0,6/16/2018,2.0,married,158302.0,Mid-range product,Busiest days,medium busy period of day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770.0,764.0,prior,1.0,3.0,...,Female,Wisconsin,40.0,2/9/2020,3.0,married,31308.0,Mid-range product,Least busy days,busiest period of day
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452.0,764.0,prior,3.0,4.0,...,Female,Wisconsin,40.0,2/9/2020,3.0,married,31308.0,Mid-range product,Least busy days,medium busy period of day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404865,49688,Fresh Foaming Cleanser,73,11,13.5,1788356.0,200215.0,prior,2.0,0.0,...,Female,Rhode Island,47.0,9/13/2017,1.0,married,166687.0,Mid-range product,Busiest days,busiest period of day
32404866,49688,Fresh Foaming Cleanser,73,11,13.5,3401313.0,200377.0,prior,1.0,4.0,...,Male,West Virginia,25.0,3/16/2020,0.0,single,53936.0,Mid-range product,Least busy days,busiest period of day
32404867,49688,Fresh Foaming Cleanser,73,11,13.5,809510.0,200873.0,prior,5.0,3.0,...,Female,Michigan,57.0,3/21/2018,1.0,married,100649.0,Mid-range product,Least busy days,medium busy period of day
32404868,49688,Fresh Foaming Cleanser,73,11,13.5,2359893.0,200873.0,prior,9.0,3.0,...,Female,Michigan,57.0,3/21/2018,1.0,married,100649.0,Mid-range product,Least busy days,busiest period of day
32404869,49688,Fresh Foaming Cleanser,73,11,13.5,2385091.0,205926.0,prior,11.0,1.0,...,Female,Pennsylvania,34.0,2/25/2017,2.0,married,56331.0,Mid-range product,Busiest days,busiest period of day

## Task 6

In [35]:
ords_prods_merge.to_pickle(os.path.join(path,'ords_prods_merge_prepeard.pkl'))